# --- ROS 2 Standard ---
build/
install/
log/
.pytest_cache/

# --- Python & C++ Artifacts ---
__pycache__/
*.py[cod]
.venv/
*.so

# --- VS Code (The "AVRA" Way) ---
.vscode/*
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/extensions.json

# --- OS Junk ---
.DS_Store
.history/